.key {
  align-items: center;
  background: #f8f9fa;
  border-radius: 0.2rem;
  border: 0;
  color: #000;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 0.25rem;
  padding: 0.5rem 0;
  width: 30%;
}
