.countdown {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  > div {
    width: 100%;
  }

  .countdownLabels {
    color: #999;
    display: flex;
    font-size: 0.8rem;
    font-weight: 700;
    justify-content: space-around;
    text-transform: uppercase;
    width: 15rem;

    label {
      margin-left: 0.6rem;
    }
  }

  .countdownDisplay {
    color: #0082f7;
    font-size: 2.6rem;
    font-weight: 700;
    left: 6px;
    position: relative;
    text-align: left;
    width: 15rem;
  }
}
